body {
	background: #000;
}
.container {
	max-width: 1075px;
	margin: 0 auto;
}
.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}
.tv_06 .video {
	text-align: center;
}
.tv_06 .video iframe {
	width: 693px;
	height: 398px;
}
.hide-pc{
	display: none;
}
.mtop-6{
	margin-top: -6%;
}
@media (max-width: 1075px) {
	.tv_06 .video iframe {
		width: 64.4651163vw;
		height: 37.0232558vw;
	}
}
@media (max-width: 640px) {
	
	.hide-pc{
		display: block;
	}
	.hide-sp{
		display: none;
	}

}